<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <h1>Inicio</h1>
        <h2>This is head type h2</h2>
        <p th:text="${mensaje}">Saludos</p>
        <p th:text="${mensaje2}"></p>
        <p th:text="${saludo}"></p>
        <div th:if="${personas !=null and !personas.empty}">
        <table border =1>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr><!-- Encabezados -->
            
            <tr th:each="persona : ${personas}">
                <td th:text="${persona.nombre}">Mostrar Nombre</td>
                <td th:text="${persona.apellido}">Mostrar Apellido</td>
                <td th:text="${persona.email}">Mostrar Email</td>
                <td th:text="${persona.telefono}">Mostrar Telefono</td>
            </tr><!-- Objeto persona -->

        </table>
</div>
        <div th:if="${personas ==null or personas.empty}">
            <p th:text="${mensaje3}">Aviso a Usuario</p>
        </div>

    </body>
</html>
